[submodule "libs/array"]
	path = libs/array
	url = https://github.com/boostorg/array.git
[submodule "libs/assert"]
	path = libs/assert
	url = https://github.com/boostorg/assert.git
[submodule "libs/bind"]
	path = libs/bind
	url = https://github.com/boostorg/bind.git
[submodule "libs/concept_check"]
	path = libs/concept_check
	url = https://github.com/boostorg/concept_check.git
[submodule "libs/config"]
	path = libs/config
	url = https://github.com/boostorg/config.git
[submodule "libs/container"]
	path = libs/container
	url = https://github.com/boostorg/container.git
[submodule "libs/container_hash"]
	path = libs/container_hash
	url = https://github.com/boostorg/container_hash.git
[submodule "libs/conversion"]
	path = libs/conversion
	url = https://github.com/boostorg/conversion.git
[submodule "libs/core"]
	path = libs/core
	url = https://github.com/boostorg/core.git
[submodule "libs/function"]
	path = libs/function
	url = https://github.com/boostorg/function.git
[submodule "libs/optional"]
	path = libs/optional
	url = https://github.com/boostorg/optional.git
[submodule "libs/range"]
	path = libs/range
	url = https://github.com/boostorg/range.git
[submodule "libs/static_assert"]
	path = libs/static_assert
	url = https://github.com/boostorg/static_assert.git
[submodule "libs/cmake"]
	path = tools/cmake
	url = https://github.com/boostorg/cmake.git
[submodule "libs/unordered"]
	path = libs/unordered
	url = https://github.com/boostorg/unordered.git
[submodule "libs/tokenizer"]
	path = libs/tokenizer
	url = https://github.com/boostorg/tokenizer.git
[submodule "libs/describe"]
	path = libs/describe
	url = https://github.com/boostorg/describe.git
[submodule "libs/mp11"]
	path = libs/mp11
	url = https://github.com/boostorg/mp11.git
[submodule "libs/throw_exception"]
	path = libs/throw_exception
	url = https://github.com/boostorg/throw_exception.git
[submodule "libs/predef"]
	path = libs/predef
	url = https://github.com/boostorg/predef.git
[submodule "libs/intrusive"]
	path = libs/intrusive
	url = https://github.com/boostorg/intrusive.git
[submodule "libs/move"]
	path = libs/move
	url = https://github.com/boostorg/move.git
[submodule "libs/iterator"]
	path = libs/iterator
	url = https://github.com/boostorg/iterator.git
[submodule "libs/detail"]
	path = libs/detail
	url = https://github.com/boostorg/detail.git
[submodule "libs/lexical_cast"]
	path = libs/lexical_cast
	url = https://github.com/boostorg/lexical_cast.git
[submodule "libs/filesystem"]
	path = libs/filesystem
	url = https://github.com/boostorg/filesystem.git
[submodule "libs/type_traits"]
	path = libs/type_traits
	url = https://github.com/boostorg/type_traits.git
[submodule "libs/io"]
	path = libs/io
	url = https://github.com/boostorg/io.git
[submodule "libs/mpl"]
	path = libs/mpl
	url = https://github.com/boostorg/mpl.git
[submodule "libs/utility"]
	path = libs/utility
	url = https://github.com/boostorg/utility.git
[submodule "libs/system"]
	path = libs/system
	url = https://github.com/boostorg/system.git
[submodule "libs/atomic"]
	path = libs/atomic
	url = https://github.com/boostorg/atomic.git
[submodule "libs/preprocessor"]
	path = libs/preprocessor
	url = https://github.com/boostorg/preprocessor.git
[submodule "libs/function_types"]
	path = libs/function_types
	url = https://github.com/boostorg/function_types.git
[submodule "libs/fusion"]
	path = libs/fusion
	url = https://github.com/boostorg/fusion.git
[submodule "libs/align"]
	path = libs/align
	url = https://github.com/boostorg/align.git
[submodule "libs/winapi"]
	path = libs/winapi
	url = https://github.com/boostorg/winapi.git
[submodule "libs/functional"]
	path = libs/functional
	url = https://github.com/boostorg/functional.git
[submodule "libs/tuple"]
	path = libs/tuple
	url = https://github.com/boostorg/tuple.git
[submodule "libs/typeof"]
	path = libs/typeof
	url = https://github.com/boostorg/typeof.git
[submodule "libs/variant2"]
	path = libs/variant2
	url = https://github.com/boostorg/variant2.git
[submodule "libs/scope"]
	path = libs/scope
	url = https://github.com/boostorg/scope.git
[submodule "libs/smart_ptr"]
	path = libs/smart_ptr
	url = https://github.com/boostorg/smart_ptr.git
